.singup-modal {
  &__container {
    @extend .modal__box;
  }
  &__title {
    @extend .modal__title;
  }
  &__close {
    @extend .modal__close;
  }
}
.sign-success {
  display: none;
  padding: 45px 60px 25px 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  top: 0;
  left: 0;
  .modal__stepper--footer {
    padding: 0 60px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.active {
    display: block;
  }
}