.record {
  &__container {
    @extend .container;
  }
  &__text--row, &__btn--row {
    @include row-flex();
    @include md(justify-content, center);
  }
  &__text--col, &__btn--col {
    @include size-lg(8);
    @include size-md(12);
    @include size-sm(12);
    @include size-xs(12);
    margin-left: auto;
    margin-right: auto;
  }
  &__btn--col {
    display: flex;
    justify-content: center;
    margin-top: $pdSection;
    .btn {
      flex-basis: 50%;
      &:first-child {
        margin-right: $pdMed;
      }
      &:last-child {
        margin-left: $pdMed;
      }
    }
  }
  &__text--text {
    text-align: center;
    color: $white;
    font-weight: 600;
    font-size: $fontSizeBase;
    line-height: 1.6;
  }
}
@media screen and (max-width: 992px) {
  .record {
    &__btn--col {
      .btn {
        margin-right: $pdMed !important;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .record {
    &__btn--col {
      flex-direction: column;
      align-items: center;
      .btn {
        margin: 0 auto !important;
        margin-bottom: $pdReg !important;
        padding-left: $pdLarge;
        padding-right: $pdLarge;
        &:first-child {
          margin-right: 0;
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}