$primary:               #3E97D1;
$secondary:             #36DAA9;
$white:                 #ffffff;
$black:                 #000;
$textGray:              #B6B6B6;
/*Fonts*/
$monseratt:           'Montserrat', Arial, sans-serif;

/*Font Sizes*/
$fontSizeBase:          16px;
$fontSizeReg:           14px;
$fontSizeLarge:         24px;
$fontSizeGiant:         80px;

/*Paddings*/
$pdBase:                5px;
$pdReg:                 $pdBase * 2;
$pdMed:                 $pdBase * 3;
$pdLarge:               $pdMed * 2;
$pdSection:             $pdReg * 6;
$pdBig:                 $pdMed * 6;

$shadowDp1:             0 1px 2px 1px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$shadowDp3:             0 17px 46px rgba(0,0,0,.1);
$shadowDp4:             0 15px 50px rgba(0,0,0,.2);

/*Transitions*/
$transitionShadow:      box-shadow 150ms linear;
$transitionEase:        all ease .4s;