.modal {
  &__overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $primary;

    &.active {
      display: block;
    }
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 960px;
    max-height: 768px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: $pdLarge;
  }

  &__box {
    @extend .card;
    position: relative;
    width: 100%;
    padding: $pdLarge + $pdMed $pdLarge * 2 $pdMed + $pdReg $pdLarge * 2;
    z-index: 2;
  }

  &__title {
    font-size: $fontSizeLarge;
    font-weight: 500;
    color: $black;
    margin-bottom: $pdLarge;
    text-align: center;
  }

  &__close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;

    &:before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: $white;
      transform: translateY(7px) rotate(45deg);
      position: absolute;
      left: 0;
      top: 0;
    }

    &:after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: $white;
      transform: translateY(7px) rotate(135deg);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1px 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__progress {
    width: 100%;
    height: 75px;
    padding-top: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    &--step {
      position: relative;
      flex: 1 1 auto;
      flex-basis: 50%;
      height: 3px;
      background-color: #C2C2C2;

      &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: -12px;
        background-color: $white;
        border: 3px solid #C2C2C2;
        width: 20px;
        height: 20px;
        font-size: $fontSizeBase;
        font-weight: 600;
        border-radius: 50%;
        text-align: center;
        line-height: 1.4;
      }

      &:first-child {
        &:before {
          content: '1';
          border-color: $primary;
        }

        .write-modal__progress--icon .icon {
          fill: $primary;
        }

        .write-modal__progress--text {
          color: $primary;
        }
      }

      &:nth-child(2):before {
        content: '2';
      }

      &:nth-child(3):before {
        content: '3';
      }

      &:nth-child(4):before {
        content: '3';
      }

      &:nth-child(5):before {
        content: '4';
      }

      &.active {
        background-color: $primary;

        &:before {
          border-color: $primary;
        }

        .write-modal__progress--icon .icon {
          fill: $primary;
        }

        .write-modal__progress--text {
          color: $primary;
        }
        .modal__progress--sign {
          .modal__progress--icon svg {
            fill: $primary;
          }
          .modal__progress--text {
            color: $primary;
          }
        }
      }
    }

    &--finish {
      position: absolute;
      right: -1px;
      top: 0;
      background-color: $white;
      border: 3px solid #C2C2C2;
      width: 26px;
      height: 26px;
      font-size: $fontSizeBase;
      font-weight: 600;
      border-radius: 50%;
      text-align: center;
      line-height: 1.4;
      background: {
        image: url("../img/svg/check-gray.svg");
        size: 12px;
        position: center center;
        repeat: no-repeat;
      };

      &.active {
        border-color: $primary;
        background-image: url("../img/svg/check.svg");
      }
    }
  }

  &__progress--sign {
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__progress--icon {
    .icon {
      fill: #C2C2C2;
      width: 25px;
      height: 19px;
    }
  }

  &__progress--text {
    color: #C2C2C2;
    font-size: $fontSizeBase;
    font-weight: 500;
    margin-left: $pdReg;
  }

  &__stepper {
    display: flex;
    width: 300%;
    height: 320px;
    position: relative;
    transition: all .3s;
  }

  &__stepper--box {
    width: 100%;
    overflow: hidden;
  }

  &__step {
    padding-bottom: 50px;
    position: relative;
    width: 33.33333%;
    height: 100%;
  }

  &__stepper--footer {
    @extend .modal__footer;
  }

  &__bg1, &__bg2, &__bg3, &__bg4 {
    position: absolute;
    background: {
      repeat: no-repeat;
      position: center;
    };
    z-index: 0;
  }

  &__bg1 {
    display: block;
    left: -120px;
    top: 30px;
    width: 246px;
    height: 201px;
    background-image: url("../img/images/modal-art1.png");
    background-size: 150%;
  }

  &__bg2 {
    display: none;
    left: 50%;
    top: -35px;
    z-index: 6;
    width: 259px;
    height: 116px;
    background-image: url("../img/images/modal-art2.png");
    background-size: 100%;
  }

  &__bg3 {
    display: none;
    right: -70px;
    top: 270px;
    z-index: 0;
    width: 161px;
    height: 336px;
    background-image: url("../img/images/modal-art3.png");
    background-size: 100%;
  }

  &__bg4 {
    display: block;
    left: -100px;
    top: -50px;
    z-index: 0;
    width: 207px;
    height: 251px;
    background-image: url("../img/images/modal-art4.png");
    background-size: 80%;
  }

  &__bg5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: {
      color: $white;
      repeat: no-repeat;
      size: contain;
      position: center bottom;
      image: url("../img/images/modal-art5.png");
    };
  }
  &__graphic {
    background: {
      repeat: no-repeat;
      size: cover;
      position: center bottom;
      image: url("../img/images/bg7.png");
    };
    .modal__container {
      max-width: 1060px;
      padding: 0;
    }
  }
  &__test {

  }
}

@media screen and (max-width: 992px) {
  .modal {

  }
}

@media screen and (max-width: 600px) {
  .modal {
    &__container {
      padding: 0;
    }

    &__wrapper {
      height: 100%;
    }

    &__bg1, &__bg2, &__bg3 {
      display: none !important;
    }
    &__stepper--box {
      height: calc(100% - 130px);
    }
    &__stepper {
      height: 100%;
    }
  }
  .write-modal, .ask-modal {
    &__title {
      font-size: $fontSizeLarger;
    }
    &__form {
      height: 100%;
    }
    &__container {
      height: 100%;
      padding: $pdMed;
      padding-top: $pdMed * 4;
    }
    &__close {
      top: 15px;
      right: 15px;
      z-index: 2;
      &:before, &:after {
        background-color: $gr700;
      }
    }
  }
  .ask-modal {
    &__container {
      .modal__stepper--footer {
        bottom: 15px;
      }
    }
  }
}
@import "write-modal/write-modal";
@import "ask-modal/ask-modal";
@import "modal-404/modal-404";
@import "graphic-modal/graphic-modal";
@import "test/test-modal";