.support-record {
  @extend .capital;
  padding-top: 0;
  box-shadow: inset 0px -30px 30px -30px rgba(0,0,0,0.2);
  &__container {
    @extend .container;
  }
  &__title {
    @extend .title;
  }
  &__subtitle {
    @extend .career-conclusion__text;
  }

  &__record--text {
    @extend .capital__record--text;
    margin-top: 0 !important;
  }
  &__record--btn-group {
    @extend .capital__record--btn-group;
  }
  &__record--btn {
    @extend .capital__record--btn
  }
  &__farewell {
    @extend .capital__farewell
  }
}