<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Очная консультация | Сайт психологических консультаций</title>
	<meta name="theme-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="../styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
</head>
<body>
<div class="wrapper">
	@@include("../../blocks/modules/svg.html")
	@@include("../../blocks/modules/header/header.html")
	<div class="content">
		@@include("../../blocks/modules/online/online-hero/online-hero.html")
		@@include("../../blocks/modules/main-page/record/record.html")
		@@include("../../blocks/modules/online/online-advantages/online-advantages.html")
		@@include("../../blocks/modules/online/online-minuses/online-minuses.html")
		@@include("../../blocks/modules/online/online-question/online-question.html")
		@@include("../../blocks/modules/online/online-price/online-price.html")
		@@include("../../blocks/modules/online/online-demand/online-demand.html")
		@@include("../../blocks/modules/consulatation-full/consult-count/consult-count.html")
		@@include("../../blocks/modules/online/online-first/online-first.html")
		@@include("../../blocks/modules/main-page/contact-form/contact-form.html")
	</div>
	@@include("../../blocks/modules/footer/footer.html")
</div>
<script src="../../js/main.js"></script>
<script src="../../js/vendor.js"></script>
</body>
</html>