.manifest {
  &__container {
    @extend .container;
  }
  &__title {
    @extend .title;
  }
  &__subtitle {
    margin-bottom: $pdBig;
  }
  &__subtext {
    margin-top: $pdLarge * 2;
  }
  &__row {
    @include row-flex();
  }
  &__col {
    @include col();
    @include size-xl(6);
    @include size-lg(6);
    @include size-md(6);
    @include size-sm(6);
    @include size-xs(12)
  }
  &__col-3 {
    @include col();
    @include size-xl(4);
    @include size-lg(4);
    @include size-md(4);
    @include size-sm(4);
    @include size-xs(12)
  }
  &__card {
    @extend .card;
    text-align: center;
    padding: $pdLarge
  }
  &__image {
    margin: 0 auto;
    margin-bottom: $pdLarge;
  }
  &__text {
    text-align: left;
  }
  &__steps {
    margin-top: $pdLarge * 2;
  }
  &__steps--card {
    position: relative;
    padding-left: $pdLarge * 2;
    padding-top: $pdReg;
    width: 260px;
    margin: 0 auto;
  }
  &__steps--number {
    position: absolute;
    width: 50px;
    height: 100px;
    left: 0;
    top: 0;
    font-size: $fontSizeGiant;
    color: $primary;
    line-height: 1;
    font-weight: 600;
  }
  &__steps--text {
    font-size: $fontSizeBase;
    font-weight: 600;
    line-height: 1.5;
  }
}
@media screen and (max-width: 992px) {
  .manifest {
    &__container {
      max-width: 100%;
    }
    &__steps--text {
      font-size: $fontSizeReg;
    }
    &__subtext p, &__text p, &__subtitle {
      font-size: $fontSizeReg;
    }
  }
}
@media screen and (max-width: 600px) {
  .manifest {
    &__image {
      text-align: center;
    }
    &__col-3 {
      margin-bottom: $pdLarge * 2;
    }
    &__steps--card {
      width: 220px;
      margin: 0 auto;
    }
  }
}