.test-modal {
  &__container {
    @extend .modal__box;
    max-width: 770px;
    margin: 0 auto;
    padding: 45px 70px;
    height: 480px;
    position: relative;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;
    width: 100%;
    max-width: 400px;
  }
  &__steps--stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 106px;
  }
  .step {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(62, 151, 209, 0.2);
    color: rgba(62, 151, 209, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    &:after {
      content: "";
      position: absolute;
      width: 70px;
      height: 2px;
      background-color: rgba(62, 151, 209, 0.2);
      left: 28px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &.current {
      color: rgba(62, 151, 209, 1);
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
  }
  &__col {
    width: 50%;
    &:first-child {
      padding-right: 74px;
    }
  }
  &__footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
  }
  &__next {
    display: flex;
    flex: 0 0 auto;
  }
  &__next--btn {
    width: 136px;
    height: 48px;
    display: flex;
    border: 1px solid #eeeeee;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-color: $primary;
      color: $primary
    }
  }
  &__back {
    display: flex;
    flex: 0 0 auto;
  }
}