.write-modal {
  &__container {
    @extend .modal__box;
    overflow: hidden;
  }
  &__title {
    @extend .modal__title;
  }
  &__progress {
    width: 100%;
    height: 75px;
    padding-top: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    &--step {
      position: relative;
      flex: 1 1 auto;
      flex-basis: 50%;
      height: 3px;
      background-color: #C2C2C2;
      &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: -12px;
        background-color: $white;
        border: 3px solid #C2C2C2;
        width: 20px;
        height: 20px;
        font-size: $fontSizeBase;
        font-weight: 600;
        border-radius: 50%;
        text-align: center;
        line-height: 1.4;
      }
      &:first-child {
        &:before {
          content: '1';
          border-color: $primary;
        }
        .write-modal__progress--icon .icon {
          fill: $primary;
        }
        .write-modal__progress--text {
          color: $primary;
        }
      }
      &:nth-child(2):before {
        content: '2';
      }
      &:nth-child(3):before {
        content: '3';
      }
      &:nth-child(4):before {
        content: '3';
      }
      &:nth-child(5):before {
        content: '4';
      }
      &.active {
        background-color: $primary;
        &:before {
          border-color: $primary;
        }
        .write-modal__progress--icon .icon {
          fill: $primary;
        }
        .write-modal__progress--text {
          color: $primary;
        }
      }
    }
    &--finish {
      position: absolute;
      right: -1px;
      top: 0;
      background-color: $white;
      border: 3px solid #C2C2C2;
      width: 26px;
      height: 26px;
      font-size: $fontSizeBase;
      font-weight: 600;
      border-radius: 50%;
      text-align: center;
      line-height: 1.4;
      background:  {
        image: url("../img/svg/check-gray.svg");
        size: 12px;
        position: center center;
        repeat: no-repeat;
      };
      &.active {
        border-color: $primary;
        background-image: url("../img/svg/check.svg");
      }
    }
  }
  &__close {
    @extend .modal__close;
  }
  &__btn {
    @extend .btn;
    @extend .btn__primary;
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative;
    box-shadow: none !important;
  }
  &__btn--next {
    @extend .btn;
    @extend .btn__primary;
    padding-left: 20px !important;
    padding-right: 40px !important;
    position: relative;
    box-shadow: none !important;
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 14px;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: {
        image: url("../img/svg/chevron.svg");
        size: 7px 14px;
        position: center center;
        repeat: no-repeat;
      };
      opacity: .25;
      transition: $transitionEase;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  &__success {
    display: flex;
    width: 100%;
    height: 270px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: $fontSizeLarge;
  }
  &__form {}
  &__form--control {
    @extend .form__control;
    padding-left: 0 !important;
    border-width: 0 !important;
  }
  &__form--input {
    @extend .form__input;
    padding-left: 0 !important;
    text-align: center;
    border-bottom: 3px solid lighten($borderGray, 10%) !important;
    &:focus {
      border-color: $primary !important;
    }
  }
  &__form--textarea {
    @extend .form__textarea;
    height: 250px;
    border-bottom: 3px solid lighten($borderGray, 10%) !important;
    &:focus {
      border-color: $primary !important;
    }
  }
}