.online-hero {
  @extend .hero;
  &__container {
    @extend .container;
    height: 100%;
  }
  &__row {
    @include row-flex();
    z-index: 1;
    position: relative;
  }
  &__col {
    @include col();
    @include size-xl(6);
    @include size-lg(6);
    @include size-md(7);
    @include size-sm(7);
    @include size-xs(12);
  }
  &__bg {
    @extend .container;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("../img/images/online-art1.png");
    background-position: right center;
    background-size: 670px;
    background-repeat: no-repeat;
    z-index: 0;
  }
  &__content {}
  &__defenition {
    @extend .hero__defenition;
  }
  &__paragraph {
    @extend .hero__paragraph;
  }
  &__title {
    @extend .hero__title;
  }
  &__highlighted {
    @extend .hero__highlighted;
  }
}

@media screen and (max-width: 1199px) {
  .online-hero {
    padding: 60px 0;
    &__bg {
      max-width: 60%;
      background-size: contain;
      background-position: right -20px center;
      margin: 0;
      left: auto;
      right: 0;
    }
  }
}
@media screen and (max-width: 992px) {
  .online-hero {
    &__container {
      max-width: 100%;
    }
    &__bg {
      background-size: 622px 416px;
      background-position: left 50px center;
    }
    &__paragraph {
      font-size: $fontSizeReg;
    }
    &__title {
      font-size: $fontSizeLarger;
      br {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .online-hero {

  }
}
@media screen and (max-width: 574px) {
  .online-hero {
    padding: $pdMed 0;
    &__bg {
      position: static;
      width: 100%;
      max-width: 100%;
      height: 360px;
      background-position: center center;
      background-size: contain;
    }
    &__title {
      font-size: $fontSizeLarger;
    }
    &__paragraph {
      font-size: $fontSizeReg;
    }
  }
}
