.pricing {
  background: {
    position: center bottom;
    //size: 100%;
    repeat: repeat;
    image: url("../img/images/bg.png");
  }
  &__container {
    @extend .container;
  }
  &__title {
    font-size: $fontSizeLarge;
    font-weight: 500;
    text-align: center;
    color: $white;
    margin-bottom: $pdLarge * 2;
  }
  &__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__tabs--group {
    flex-basis: 66%;
  }
  &__tabs--content {
    display: none;
    flex: 1 0 auto;
    &:first-of-type {
      display: block;
    }
  }
  &__tabs--controls {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
    max-width: 360px;
    margin-left: $pdLarge;
    flex-shrink: 1;
  }
  &__tabs--row {
    @include row-flex();
  }
  &__tabs--col {
    @include col();
    @include size-xl(6);
    @include size-lg(6);
    @include size-md(6);
    @include size-sm(6);
    @include size-xs(12);
  }
  &__tabs--col-12 {
    @include col();
    @include size-xl(12);
    @include size-lg(12);
    @include size-md(12);
    @include size-sm(12);
    @include size-xs(12);
    max-width: 500px;
    margin: 0 auto;

  }
  &__tabs--col-lg {
    @include col();
    @include size(12);
  }


  &__card {
    min-width: 240px;
  }
  &__card--item {
    width: 100%;
    margin-bottom: 3px;
    background-color: $white;
    padding: $pdLarge;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__card--price {
    font-size: $fontSizeBig;
    font-weight: 500;
  }
  &__card--text.pricing__card--text-bold {
    font-weight: 600;
  }
  &__control {
    display: block !important;
    @extend .btn;
    @extend .btn__inline;
    margin-bottom: $pdLarge;
    padding-left: 4px !important;
    padding-right: 4px !important;
    text-decoration: none;
    transition: $transitionEase;
    &.active {
      background-color: $white;
      color: $primary;
    }
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
  &__links {
    margin-top: 66px;
  }
  &__link {
    @extend .btn;
    @extend .btn__secondary;
    width: 100%;
    margin-bottom: $pdMed;
  }
  &__info {
    font-size: $fontSizeBase;
    font-weight: 500;
    line-height: 1.6;
    color: $white;
    text-align: center;
    margin-top: $pdMed;
  }
  &__row {
    display: flex;
    flex-direction: row;
  }
  &__col {
    max-width: 360px;
    margin-top: -115px;
    align-self: flex-end;
    flex: 1 1 auto;
  }
  &__col-text {
    width: calc(100% - 360px);
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 992px) {
  .pricing {
    &__container {
      max-width: 100%;
    }
    &__row {
      flex-direction: column-reverse;
    }
    &__col, &__col-text {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 $pdMed;
      p {
        font-size: 14px;
      }
      .text__left {
        text-align: center !important;
      }
    }
    &__link {
      margin: 0 auto;
      max-width: 400px;
      margin-bottom: $pdMed;
    }
  }
}
@media screen and (max-width: 880px) {
  .pricing {
    margin-top: -95px;
    padding-top: 40px;
    &__container {
      padding: 0;
    }
    &__title {
      font-size: $fontSizeLarger;
    }
    &__tabs {
      flex-direction: column-reverse;
    }
    &__tabs--row {
      flex-wrap: nowrap;
      margin: 0;
      width: 100%;
      overflow: hidden;
    }
    &__tabs--col {
      margin: 0;
      width: 50%;
    }
    &__tabs--btns {
      overflow: hidden;
    }
    &__tabs--controls {
      flex-direction: row;
      flex-basis: 100%;
      max-width: 100%;
      margin: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      padding-bottom: $pdLarge;
      padding-left: $pdMed;
      padding-right: $pdMed;
      margin-bottom: -$pdLarge;
    }
    &__card {
      min-width: auto;
    }
    &__card--item {
      padding-left: $pdMed;
      padding-right: $pdMed;
    }
    &__control {
      width: 100%;
      flex: 1 0 auto;
      box-shadow: none;
      margin-right: $pdMed;
    }
    &__links, &__info {
      //display: none;
    }
    &__col {
      margin: 10px auto;
    }
  }
}