.treeview {
  &__container {
    @extend .container;
  }
  &__title {
    @extend .header__1;
  }
  &__scheme {}
  &__scheme--buttons-top, &__scheme--buttons-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  &__scheme--buttons-bottom {
    padding-left: 200px;
  }
  &__scheme--line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80px;
    margin: $pdReg auto;

  }
  &__btn {
    @extend .btn;
    @extend .btn__primary;
    margin-right: $pdLarge;
    min-width: 260px;
    &:last-child {
      margin-right: 0;
    }
    &.treeview__btn--active {
      @extend .btn;
      border: 3px solid $primary !important;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__cards {
    position: relative;
    margin-top: $pdBig;
    @include row-flex();
  }
  &__cards--col {
    @include col();
    @include size-xl(4);
    @include size-lg(4);
    @include size-md(4);
    @include size-sm(12);
    @include size-xs(12);
  }
  &__card {
    position: relative;
    background-color: $white;
    padding: $pdSection $pdLarge $pdSection $pdLarge;
    box-shadow: $shadowDp3;
    margin-bottom: $pdMed;
    min-height: 320px;
  }
  &__card--circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -35px;
    width: 70px;
    height: 70px;
    border: 3px solid $borderGray;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $pdReg;
    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &__card--title {
    @extend .statistics__conclusion;
    margin-bottom: $pdLarge;
    line-height: 1.4;
    text-align: center;
    padding: 0;
  }
  &__card--list {

  }
  &__card--list-item {
    @extend .list__item;
    margin-left: 20px;
  }
  &__contact {
    position: absolute;
    left: 0;
    right: 0;
    top: -65px;
    margin: auto;
    font-size: $fontSizeGiant;
    font-weight: 600;
    color: rgba($black, .1);
    text-transform: uppercase;
    text-align: center;
  }
}

.scheme {
  &__line {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3px;
    background-color: $primary;
  }
  &__branch {
    position: absolute;
    left: 0;
    width: 100%;
  }
  &__branch--first {
    .scheme__branch--circle {
      left: 280px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--second {
    .scheme__branch--circle {
      left: 380px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }
  &__branch--third {
    .scheme__branch--circle {
      left: 570px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--fourth {
    .scheme__branch--circle {
      left: 670px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }
  &__branch--five {
    .scheme__branch--circle {
      left: 870px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--six {
    .scheme__branch--circle {
      left: 970px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }

  &__branch--line {
    width: 3px;
    height: 30px;
    position: absolute;
    left: 10px;
    background-color: $primary;
  }
  &__branch--circle {
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 3px solid $primary;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $fontSizeBase;
    color: $textGray;
    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 30px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $primary;
    }
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $primary;
    }
  }
}
@media screen and (max-width: 1200px) {
  .treeview {
    &__scheme--buttons-bottom {
      padding-left: 0;
    }
    &__scheme--line {
      display: flex;
      justify-content: center;
    }
    &__btn {
      font-size: $fontSizeReg !important;
    }
  }
  .scheme {
    &__branch {
      position: relative;
    }
    &__branch--first {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--second {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
    &__branch--third {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--fourth {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
    &__branch--five {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--six {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .treeview {
    &__card {
      padding-left: $pdMed;
      padding-right: $pdMed;
    }
    &__btn {
      min-width: auto;
      flex: 1 0 auto;
      flex-basis: 30%;
    }
    &__container {
      max-width: 992px;
    }
  }
}