.treeview {
  &__container {
    @extend .container;
  }
  &__row {
    @include row-flex();
    @include md(justify-content, center);
    width: 100%;
  }
  &__col {
    @include col();
    @include size-xl(12);
    @include size-lg(12);
    @include size-md(12);
    @include size-sm(12);
    @include size-xs(12);
  }
  &__col-5 {
    @include col();
    @include size-xl(5);
    @include size-lg(5);
    @include size-md(5);
    @include size-sm(12);
    @include size-xs(12);
  }
  &__col-7 {
    @include col();
    @include size-xl(7);
    @include size-lg(7);
    @include size-md(7);
    @include size-sm(12);
    @include size-xs(12);
  }
  &__title {
    @extend .header__1;
  }
  &__group {
    display: none;
    &:first-of-type {
      display: block;
    }
  }
  &__scheme {}
  &__scheme--buttons-top, &__scheme--buttons-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  &__scheme--buttons-bottom {
    padding-left: 200px;
  }
  &__scheme--line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 80px;
    margin: $pdReg auto;
  }
  &__btn {
    @extend .btn;
    @extend .btn__primary;
    margin-right: $pdLarge;
    min-width: 260px;
    text-decoration: none;
    height: 54px;
    &:last-child {
      margin-right: 0;
    }
    &.treeview__btn--active {
      @extend .btn;
      border: 3px solid $primary !important;
      &:hover {
        background-color: $white;
      }
    }
  }
  &__cards {
    position: relative;
    margin-top: $pdBig;
    @include row-flex();
  }
  &__cards--col {
    @include col();
    @include size-xl(4);
    @include size-lg(4);
    @include size-md(4);
    @include size-sm(12);
    @include size-xs(12);
  }
  &__card {
    position: relative;
    background-color: $white;
    padding: $pdSection $pdLarge $pdSection $pdLarge;
    box-shadow: $shadowDp3;
    margin-bottom: $pdMed;
    min-height: 320px;
    height: 100%;
  }
  &__card--circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -35px;
    width: 70px;
    height: 70px;
    border: 3px solid $borderGray;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $pdReg;
    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &__card--title {
    @extend .statistics__conclusion;
    margin-bottom: $pdLarge;
    line-height: 1.4;
    text-align: center;
    padding: 0;
  }
  &__card--list {

  }
  &__card--list-item {
    @extend .list__item;
    margin-left: 20px;
  }
  &__contact {
    position: absolute;
    left: 0;
    right: 0;
    top: -65px;
    margin: auto;
    font-size: $fontSizeGiant;
    font-weight: 600;
    color: rgba($black, .1);
    text-transform: uppercase;
    text-align: center;
  }
  &__scheme--scroller {
    display: none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-left: $pdMed;
    padding-right: $pdMed;
  }
  &__scheme--scroller-hider {
    overflow: hidden;
  }
  &__scheme--scroller-list {

  }
}

.scheme {
  &__line {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 46px);
    height: 3px;
    background-color: $primary;
    &:before {
      content: '';
      position: absolute;
      left: -21px;
      top: -11px;
      width: 23px;
      height: 25px;
      background: {
        image: url("../img/svg/double_arrow.svg");
        repeat: no-repeat;
        size: 23px 25px;
        position: center center;
      };
    }
    &:after {
      content: '';
      position: absolute;
      right: -14px;
      top: -6px;
      width: 9px;
      height: 9px;
      border: 3px solid $primary;
      border-radius: 50%;
      background-color: $white;
    }
  }
  &__branch {
    position: absolute;
    left: 0;
    width: 100%;
  }
  &__branch--first {
    .scheme__branch--circle {
      left: 280px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--second {
    .scheme__branch--circle {
      left: 380px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }
  &__branch--third {
    .scheme__branch--circle {
      left: 570px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--fourth {
    .scheme__branch--circle {
      left: 670px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }
  &__branch--five {
    .scheme__branch--circle {
      left: 870px;
      &:before {
        bottom: 100%;
      }
      &:after {
        bottom: 50px;
      }
    }
  }
  &__branch--six {
    .scheme__branch--circle {
      left: 970px;
      &:before {
        top: 100%;
      }
      &:after {
        top: 50px;
      }
    }
  }

  &__branch--line {
    width: 3px;
    height: 30px;
    position: absolute;
    left: 10px;
    background-color: $primary;
  }
  &__branch--circle {
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 3px solid $primary;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: $fontSizeBase;
    color: $textGray;
    &:before {
      content: '';
      position: absolute;
      width: 3px;
      height: 30px;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $primary;
    }
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $primary;
    }
  }
}
@media screen and (max-width: 1200px) {
  .treeview {
    &__scheme--buttons-bottom {
      padding-left: 0;
    }
    &__scheme--line {
      display: flex;
      justify-content: center;
    }
    &__btn {
      font-size: $fontSizeReg !important;
    }
  }
  .scheme {
    &__branch {
      position: relative;
    }
    &__branch--first {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--second {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
    &__branch--third {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--fourth {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
    &__branch--five {
      .scheme__branch--circle {
        position: relative;
        left: -30px;
        top: 15px;
      }
    }
    &__branch--six {
      .scheme__branch--circle {
        position: relative;
        left: 30px;
        top: -15px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .treeview {
    &__card {
      padding-left: $pdMed;
      padding-right: $pdMed;
    }
    &__btn {
      min-width: auto;
      flex: 1 0 auto;
      flex-basis: 30%;
    }
    &__container {
      max-width: 992px;
    }
  }
}
@media screen and (max-width: 600px) {
  .treeview {
    &__container {
      padding: 0;
    }
    &__scheme--scroller {
      display: block;
    }
    &__row {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }
    &__col {
      width: 100%;
      overflow: hidden;
    }
    &__scheme--buttons {
      display: none;
    }
    &__scheme--line {
      display: none;
    }
    &__btn {
      position: relative;
      width: 100%;
      flex: 1 0 auto;
      box-shadow: none !important;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 6px;
        height: 12px;
        background-position: center center;
        background-size: 6px 12px;
        background-repeat: no-repeat;
      }
      &:before {
        background-image: url("../img/svg/arrow-left.svg");
        left: 16px;
      }
      &:after {
        background-image: url("../img/svg/arrow-right.svg");
        right: 16px;
      }
    }
    &__cards {
      width: 100%;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      margin: 0;
      padding-top: 60px;
      margin-bottom: -30px;
      padding-bottom: 90px;
      box-shadow: $shadowDp3;
    }
    &__cards--col {
      width: 85%;
      flex: 1 0 auto;
      margin: 0;
    }
    &__contact {
      display: none;
    }
    &__card--circle {
      left: 15px;
      margin: 0;
    }
    &__card--title {
      text-align: left;
    }
  }
}