.ask-modal {
  &__container {
    @extend .modal__box;
    overflow: hidden;
  }
  &__title {
    @extend .modal__title;
  }
  &__progress--sign {
    position: absolute;
    left: 0;
    top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__progress--icon {
    .icon {
      fill: #C2C2C2;
      width: 25px;
      height: 19px;
    }
  }
  &__progress--text {
    color: #C2C2C2;
    font-size: $fontSizeBase;
    font-weight: 500;
    margin-left: $pdReg;
  }
  &__stepper {
    display: flex;
    width: 300%;
    height: 320px;
    position: relative;
    transition: all .3s;
  }
  &__stepper--box {
    width: 100%;
    overflow: hidden;
  }
  &__step {
    padding-bottom: 50px;
    position: relative;
    width: 33.33333%;
    height: 100%;
  }
  &__close {
    @extend .modal__close;
  }
  &__stepper--footer {
    @extend .modal__footer;
  }
  &__btn {
    @extend .btn;
    @extend .btn__primary;
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative;
    box-shadow: none !important;
  }
  &__btn--next {
    @extend .btn;
    @extend .btn__primary;
    padding-left: 20px !important;
    padding-right: 40px !important;
    position: relative;
    box-shadow: none !important;
    &:after {
      content: '';
      position: absolute;
      width: 7px;
      height: 14px;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: {
        image: url("../img/svg/chevron.svg");
        size: 7px 14px;
        position: center center;
        repeat: no-repeat;
      };
      opacity: .25;
      transition: $transitionEase;
    }
    &:hover:after {
      opacity: 1;
    }
    input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
    }
    &.step-message {
      pointer-events: none;
      opacity: .25;
      &.active {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
  &__success {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: $fontSizeLarge;
  }
  &__text {
    font-size: 16px;
    margin-top: 16px;
  }
  &__form {}
  &__form--control {
    @extend .form__control;
    padding-left: 0 !important;
    border-width: 0 !important;
  }
  &__form--input {
    @extend .form__input;
    padding-left: 0 !important;
    text-align: center;
    border-bottom: 3px solid lighten($borderGray, 10%) !important;
    &:focus {
      border-color: $primary !important;
    }
  }
  &__form--textarea {
    @extend .form__textarea;
    height: 250px;
    border-bottom: 3px solid lighten($borderGray, 10%) !important;
    &:focus {
      border-color: $primary !important;
    }
  }
}