* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: $monseratt;
    background-color: $white;
    color: $black;
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
a {
    color: $black;
    text-transform: none;
}
.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1200));
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
section, .section {
    padding: $pdSection 0;
    &__white {
        background-color: $white;
    }
    &__blue {
        background-color: $primary;
    }
    &__blue--bg {
        background-image: url("../img/images/bg.png");
        background-position: center center;
        background-size: auto;
        background-repeat: repeat;
    }
}