.header {
  &__1 {
    font-size: $fontSizeLarge;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    margin-bottom: $pdLarge;
  }
}
.text {
  &__left {
    text-align: left !important;
  }
  &__center {
    text-align: center !important;
  }
  &__right {
    text-align: right !important;
  }
}
.taxonomi {
  font-size: $fontSizeBase;
  font-weight: 600;
  text-decoration: none;
}

.ml {
  &-4 {
    margin-left: $pdBase * 4;
  }
  &-6 {
    margin-left: $pdBase * 6;
  }
}

.list {
  &__item {
    font-size: $fontSizeReg;
    font-weight: 600;
    color: $listColor;
    margin-bottom: $pdMed;
    line-height: 1.4;
    &:last-child {
      margin-bottom: 0;
    }
  }
}