.header {
  &__1 {
    font-size: $fontSizeLarge;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    margin-bottom: $pdLarge;
  }
}
.text {
  &__left {
    text-align: left !important;
  }
  &__center {
    text-align: center !important;
  }
  &__right {
    text-align: right !important;
  }
  &__teal {
    color: #C2C2C2;
    font-weight: 300;
  }
}
.taxonomi {
  font-size: $fontSizeBase;
  font-weight: 600;
  text-decoration: none;
}

.ml {
  &-4 {
    margin-left: $pdBase * 4;
  }
  &-6 {
    margin-left: $pdBase * 6;
  }
}

.mt {
  &-3 {
    margin-top: $pdBase * 3;
  }
  &-4 {
    margin-top: $pdBase * 4;
  }
  &-5 {
    margin-top: $pdBase * 5;
  }
  &-6 {
    margin-top: $pdBase * 6;
  }
  &-12 {
    margin-top: $pdBase * 12;
  }
}

.mb {
  &-3 {
    margin-bottom: $pdBase * 3;
  }
  &-4 {
    margin-bottom: $pdBase * 4;
  }
  &-5 {
    margin-bottom: $pdBase * 5;
  }
  &-6 {
    margin-bottom: $pdBase * 6;
  }
  &-12 {
    margin-bottom: $pdBase * 12;
  }
}

.list {
  &__item {
    font-size: $fontSizeReg;
    font-weight: 500;
    margin-bottom: $pdMed;
    line-height: 1.5;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  background-color: $white;
  box-shadow: $shadowDp3;
}

.highlighted {
  color: $primary;
  font-weight: 600;
}
.overflow {
  overflow: hidden !important;
}
@media screen and (max-width: 1200px) {
  .taxonomi {
    font-size: $fontSizeReg;
  }
}